/*
  * Nextflow config file
*/


manifest {
  author = 'Alison Morse'
  description = 'Check Design, Align and run Sam Compare'
  mainScript = 'NF_dfCheck_align_samCompare.nf'
  nextflowVersion = '20.01.0'
}


env {

// Directories
PROJ    =   "/ufrc/mcintyre/share/cegs2_MvsF_exp"
SCRIPTS =   "${PROJ}/scripts/ase_cegs_scripts"
PY	=   "${SCRIPTS}/python_scripts"
REF     =   "${PROJ}/updated_genomes_vcfConsensus"
ORIG    =   "${PROJ}/cutadapt_bbmerge_fastqSplitDups"

OUTALN  =   "${PROJ}/aln_upd_genome"
PSAM    =   "${PROJ}/aln_upd_genome_bwa_parse"
SAMC    =   "${PROJ}/ase_counts_updated"
CHKDF   =   "${PROJ}/check_df"
CHKALN  =   "${PROJ}/check_aln"
CHKSC   =   "${PROJ}/check_samcomp"
ROZ     =   "${PROJ}/roz_amm"

// Files
BEDFILE  =   "/ufrc/mcintyre/share/references/dmel_fb617/dmel617_fusions_coverage.bed"
DESIGN_FILE  =  "${PROJ}/design_files/cegs_MF_df_from_user_sorted_R105_noheader.csv"
DESIGN_HEADER = "${PROJ}/design_files/cegs_MF_df_from_user_sorted_R105.csv"

}


// process default configurations       
process {
    executor = 'slurm'
    clusterOptions = '-o /ufrc/mcintyre/share/cegs2_MvsF_exp/scripts/SLURM_LOGS/aln-%A.out --job-name=aln --account=mcintyre --qos=mcintyre-b'
    memory = 10.GB
    cpus = 1
    time = '24h'
}

// process specific configurations
process {
    withName: counts {
    executor = 'slurm'
    clusterOptions = '--mem=36gb --ntasks-per-node=8 -o /ufrc/mcintyre/share/cegs2_MvsF_exp/scripts/SLURM_LOGS/counts-%A.out --job-name=counts --account=mcintyre --qos=mcintyre-b'
    time = '24h'
    }
}
