/*
  * Nextflow config file for splitting VCF file into individual VCFs and updating genomes
*/


manifest {
  author = 'Alison Morse'
  description = 'TEST splitVCF and upd genomes'
  mainScript = 'NF_splitVCF_updateGenome.nf'
  nextflowVersion = '20.01.0'
}


env {

// Directories
PROJ    =   "/ufrc/mcintyre/share/cegs2_MvsF_exp"
SCRIPTS =   "${PROJ}/scripts/ase_cegs_scripts"
PY	=   "${SCRIPTS}/python_scripts"

ROZ     =   "${PROJ}/rozUPD"
VCFOUT  =   "${PROJ}/vcf_by_genotype"
UREF    =   "${PROJ}/updated_genomes_vcfConsensus"

// Files
VCF     =   "/ufrc/mcintyre/share/mel_cegs_variant_info/vcf_files_v3/convert_v5_to_v6/CEGS.237.lines.SNPs.filtered.set.1.v6_from_v5.vcf"
FASTA   =   "/ufrc/mcintyre/share/references/dmel_fb617/dmel-all-chromosome-r6.17.fasta"
DESIGN_FILE  =   "${PROJ}/design_files/fq_match_vcf_list_w_W1118.csv"

}


// process default configurations       
process {
    executor = 'slurm'
    clusterOptions = '-o /ufrc/mcintyre/share/cegs2_MvsF_exp/scripts/SLURM_LOGS/upd-%A.out --job-name=upd --account=mcintyre --qos=mcintyre-b'
    memory = 10.GB
    cpus = 1
    time = '24h'
}

// process specific configurations
process {
    withName: 'splitVCF|updGenomes' {
    executor = 'slurm'
    clusterOptions = '-o /ufrc/mcintyre/share/cegs2_MvsF_exp/scripts/SLURM_LOGS/splitVCF-%A.out --job-name=splitVCF --account=mcintyre --qos=mcintyre-b'
    memory = 16.GB
    cpus = 1
    time = '24h'
    }
}

