/*
  * Nextflow config file for prepping count data and running bayesian machine
*/


manifest {
  author = 'Alison Morse'
  description = 'TEST prep count data and run bayesian machine'
  mainScript = 'NF_prepData_bayesian.nf'
  nextflowVersion = '20.01.0'
}


env {

// Directories
PROJ    =   "/ufrc/mcintyre/share/cegs2_MvsF_exp"
SCRIPTS =   "${PROJ}/scripts/ase_cegs_scripts"
DF	=   "${PROJ}/design_files"
SAMC    =   "${PROJ}/ase_counts_updated"

// New directories
SSUM    =   "${PROJ}/nextflow_testing/ase_counts_updated_summed_techReps"
FILT    =   "${PROJ}/nextflow_testing/ase_counts_summarized_and_output_APN_values"
MERGE   =   "${PROJ}/nextflow_testing/merge_comparates"
DROP    =   "${PROJ}/nextflow_testing/merge_comparates_noAPN"
BAYES   =   "${PROJ}/nextflow_testing/bayesian"

// Files
BED     =   "/ufrc/mcintyre/share/references/dmel_fb617/dmel617_fusions_coverage.bed"
DESIGN  =   "${DF}/cegs_MF_df_from_user_sorted.csv"
DESIGN2 =   "${DF}/df_ase_samcomp_summed_wCompID.csv"
DESIGN3 =   "${DF}/df_cegs_pre_bayesian.csv"

// What APN cutoff would you like to use?
APN  = "1"

// Are you using simulated data? True or False
SIM = "False"

}


// process default configurations       
process {
    executor = 'slurm'
    clusterOptions = '-o /ufrc/mcintyre/share/cegs2_MvsF_exp/scripts/SLURM_LOGS/prep-%A.out --job-name=prep --account=mcintyre --qos=mcintyre-b'
    memory = 10.GB
    cpus = 1
    time = '24h'
}

// process specific configurations
process {
    withName: 'sumCnts|summarize|merge|drop' {
    executor = 'slurm'
    clusterOptions = '-o /ufrc/mcintyre/share/cegs2_MvsF_exp/scripts/SLURM_LOGS/sum-%A.out --job-name=sum --account=mcintyre --qos=mcintyre-b'
    memory = 6.GB
    cpus = 1
    time = '24h'
    }
}

