/*
  * Nextflow config file for prepping count data
*/


manifest {
  author = 'Alison Morse'
  description = 'prep count data'
  mainScript = 'NF_prepTestData_02amm.nf'
  nextflowVersion = '20.04.1'
}


env {

// Directories
PROJ    =   "/ufrc/mcintyre/share/BASE_mclab/galaxy"
SCRIPTS =   "${PROJ}/scripts/ase_scripts"
DF	=   "${PROJ}/design_files"
SAMC    =   "${PROJ}/ase_counts_updated"

// New directories
SSUM    =   "${PROJ}/ase_counts_updated_summed_techReps"
FILT    =   "${PROJ}/ase_counts_summarized_and_output_APN_values"
MERGE   =   "${PROJ}/merge_comparates"
DROP    =   "${PROJ}/merge_comparates_noAPN"
BAYES   =   "${PROJ}/bayesian"

// Files
BEDFILE  =   "${PROJ}/references/BASE_testData_galaxy.bed"
DESIGN   =  "${PROJ}/design_files/df_BASE_galaxy_W55_noEmptyFq.csv"

//DESIGN  =   "${DF}/cegs_MF_df_from_user_sorted.csv"
// G1,G2,sampleID,fqName,fqExtension,techRep,readLength
// W1118,R105,mel_R105_F_rep1,mel_R105_F_rep1_techRep1_bbmerge_distinct,.fq,1,150
// W1118,R105,mel_R105_F_rep1,mel_R105_F_rep1_techRep1_R1_unmerge_distinct,.fq,1,150
// W1118,R105,mel_R105_F_rep1,mel_R105_F_rep1_techRep1_R2_unmerge_distinct,.fq,1,150
// W1118,R105,mel_R105_F_rep1,mel_R105_F_rep1_techRep2_bbmerge_distinct,.fq,2,50

//DESIGN2 =   "${DF}/df_ase_samcomp_summed_wCompID.csv"
// G1,G2,sampleID,sample,compID
// W1118,R105,mel_R105_F_rep1,mel_R105_F,mel_R105_F_M
// W1118,R105,mel_R105_F_rep2,mel_R105_F,mel_R105_F_M
// W1118,R105,mel_R105_M_rep1,mel_R105_M,mel_R105_F_M


// What APN cutoff would you like to use?
APN  = "1"

// Are you using simulated data? True or False
SIM = "False"

}


// process default configurations       
process {
    executor = 'slurm'
    clusterOptions = '-o /ufrc/mcintyre/share/BASE_mclab/galaxy/scripts/SLURM_LOGS/prep-%A.out --job-name=prep --account=mcintyre --qos=mcintyre-b'
    memory = 10.GB
    cpus = 1
    time = '24h'
}

// process specific configurations
process {
    withName: 'sumCnts|summarize' {
    executor = 'slurm'
    clusterOptions = '-o /ufrc/mcintyre/share/BASE_mclab/galaxy/scripts/SLURM_LOGS/sum-%A.out --job-name=sum --account=mcintyre --qos=mcintyre-b'
    memory = 6.GB
    cpus = 1
    time = '24h'
    }
}

