/*
  * Nextflow config file for calculating priors from ase count data
*/


manifest {
  author = 'Alison Morse'
  description = 'calculate priors from ase counts'
  mainScript = 'NF_prepTestData.nf'
  nextflowVersion = '20.04.1'
}


env {

// Directories
PROJ    =   "path/to/user/project"
SCRIPTS =   "path/to/BayesASE/scripts/ase_scripts"
DF	=   "path/to/user/design_files"
PCNTS   =   "${PROJ}/ase_counts_summarized"

// New Directories
PRIORS  =   "${PROJ}/priors_fromData"

// Files
DESIGN =   "${DF}/df_ase_samcomp_summed.csv"
// G1,G2,sampleID,sample
// W1118,W55,W55_M_1,W55_M
// W1118,W55,W55_M_2,W55_M
// W1118,W55,W55_M_3,W55_M
// drop samplID col and uniq above

}


// process default configurations       
process {
    executor = 'slurm'
    clusterOptions = '-o /blue/mcintyre/share/BASE_mclab/galaxy/scripts/SLURM_LOGS/calcP-%A.out --job-name=calcP --account=mcintyre --qos=mcintyre-b'
    memory = 10.GB
    cpus = 1
    time = '24h'
}

// process specific configurations
process {
    withName: 'calcPriors' {
    executor = 'slurm'
    clusterOptions = '-o /blue/mcintyre/share/BASE_mclab/galaxy/scripts/SLURM_LOGS/calcP-%A.out --job-name=calcP --account=mcintyre --qos=mcintyre-b'
    memory = 6.GB
    cpus = 1
    time = '24h'
    }
}

