/*
  * Nextflow config file
*/


manifest {
  author = 'Alison Morse'
  description = 'Check Design, Align and run Sam Compare'
  mainScript = 'NF_dfCheck_align_samCompare.nf'
  nextflowVersion = '20.04.1'
}


env {

// Directories
PROJ    =   "/blue/mcintyre/share/BASE_mclab/galaxy"
SCRIPTS =   "${PROJ}/scripts/ase_scripts"
REF     =   "${PROJ}/updated_genomes_vcfConsensus"
ORIG    =   "${PROJ}/combine_fq_files"

OUTALN  =   "${PROJ}/aln_upd_genome"
PSAM    =   "${PROJ}/aln_upd_genome_bwa_parse"
SAMC    =   "${PROJ}/ase_counts_updated"
CHKS    =   "${PROJ}/ase_check_summaries"
CHKALN  =   "${PROJ}/check_aln"
CHKSC   =   "${PROJ}/check_samcomp"
ROZ     =   "${PROJ}/roz_amm"

// Files
BEDFILE  =   "${PROJ}/references/BASE_testData_galaxy_02amm.bed"
DESIGN_FILE  =  "${PROJ}/design_files/df_BASE_galaxy_W55_combinedFq.csv"

}


// process default configurations       
process {
    executor = 'slurm'
    clusterOptions = '-o /blue/mcintyre/share/BASE_mclab/galaxy/scripts/SLURM_LOGS/aln-%A.out --job-name=aln --account=mcintyre --qos=mcintyre-b'
    memory = 10.GB
    cpus = 1
    time = '24h'
}

// process specific configurations
process {
    withName: counts {
    executor = 'slurm'
    clusterOptions = '--mem=36gb --ntasks-per-node=8 -o /blue/mcintyre/share/BASE_mclab/galaxy/scripts/SLURM_LOGS/counts-%A.out --job-name=counts --account=mcintyre --qos=mcintyre-b'
    time = '24h'
    }
}
