/*
  * Nextflow config file
*/


manifest {
  author = 'Alison Morse'
  description = 'Check Design, Align and run Sam Compare'
  mainScript = 'NF_dfCheck_align_samCompare.nf'
  nextflowVersion = '20.04.1'
}


env {

// Directories
PROJ    =   "path/to/user/project"
SCRIPTS =   "path/to/BayesASE/scripts/ase_scripts"
REF     =   "${PROJ}/updated_genomes_vcfConsensus"
ORIG    =   "${PROJ}/combine_fq_files"

OUTALN  =   "${PROJ}/aln_upd_genome"
PSAM    =   "${PROJ}/aln_upd_genome_bwa_parse"
SAMC    =   "${PROJ}/ase_counts_updated"
CHKS    =   "${PROJ}/ase_check_summaries"
CHKALN  =   "${PROJ}/check_aln"
CHKSC   =   "${PROJ}/check_samcomp"
ROZ     =   "path/to/tempdirectory"

// Files
BEDFILE  =   "path/to/input_bed_file.bed"
DESIGN_FILE  =  "path/to/user_design_file.csv"

}


// process default configurations       
process {
    executor = 'slurm'
    clusterOptions = '-o example_out/logs/aln-%A.out --job-name=aln --account=groupname --qos=groupname-b'
    memory = 10.GB
    cpus = 1
    time = '24h'
}

// process specific configurations
process {
    withName: counts {
    executor = 'slurm'
    clusterOptions = '--mem=36gb --ntasks-per-node=8 -o example_out/logs/counts-%A.out --job-name=counts --account=groupname --qos=groupname-b'
    time = '24h'
    }
}
