/*
  * Nextflow config file for prepping count data
*/


manifest {
  author = 'Alison Morse'
  description = 'prep count data'
  mainScript = 'NF_summarize_counts.nf'
  nextflowVersion = '20.04.1'
}


env {

// Directories
PROJ    =   "path/to/user/project"
SCRIPTS =   "path/to/BayesASE/scripts/ase_scripts"
DF	=   "path/to/user/design_files"
SAMC    =   "${PROJ}/ase_counts_updated"

// New directories
SSUM    =   "${PROJ}/ase_counts_summed_techReps"
FILT    =   "${PROJ}/ase_counts_summarized"

// Files
BEDFILE  =   "path/to/input_bed_file.bed"
DESIGN   =  "path/to/user/design_file.csv"

// What APN cutoff would you like to use?
APN  = "1"

// Are you using simulated data? True or False
SIM = "False"

}


// process default configurations       
process {
    executor = 'slurm'
    clusterOptions = '-o example_out/logs/prep-%A.out --job-name=prep --account=groupname --qos=groupname-b'
    memory = 10.GB
    cpus = 1
    time = '24h'
}

// process specific configurations
process {
    withName: 'sumCnts|summarize' {
    executor = 'slurm'
    clusterOptions = '-o example_out/logs/sum-%A.out --job-name=sum --account=groupname --qos=groupname-b'
    memory = 6.GB
    cpus = 1
    time = '24h'
    }
}

