/*
  * Nextflow config file for running bayesian 
*/


manifest {
  author = 'Alison Morse'
  description = 'run bayesian model'
  mainScript = 'NF_run_bayesian.nf'
  nextflowVersion = '20.04.1'
}


env {

// Directories
PROJ    =   "path/to/user/project"
SCRIPTS =   "path/to/BayesASE/hpc/stan2_scripts"
DF	=   "path/to/user/design_files"
BAYESIN =   "${PROJ}/bayesian_in"
BAYESOUT=   "${PROJ}/bayesian_out_nf"
ROZ     =   "path/to/temp_dir"

// Files

DESIGN_FILE  =   "${PROJ}/design_files/df_comparates.csv"
//  design file
//  Comparate_1,Comparate_2,compID
//  W55_M,W55_V,W55_M_V

COMPNUM =  "2"
ITER    =  "100000"
WARMUP  =  "10000"

}


// process default configurations       
process {
    executor = 'slurm'
    clusterOptions = '-o /blue/mcintyre/share/BASE_mclab/galaxy/scripts/SLURM_LOGS/bayesian-%A.out --job-name=defMergeP --account=mcintyre'
    memory = 6.GB
    cpus = 1
    time = '6h'
}
