/*
  * Nextflow config file for merging priors to summarized filtered ase count data
*/


manifest {
  author = 'Alison Morse'
  description = 'merge priors from ase counts'
  mainScript = 'NF_merge_priors_2_comparate.nf'
  nextflowVersion = '20.04.1'
}


env {

// Directories
PROJ    =   "path/to/user/project_directory"
SCRIPTS =   "path/to/BayesASE/hpc/ase_scripts"
DF	=   "path/to/user/design_files"
FILT    =   "${PROJ}/ase_counts_summarized"
PRIORS  =   "${PROJ}/priors_fromData"
BAYESIN =   "${PROJ}/bayesian_in"

// Files
DESIGN  =   "${DF}/df_priors.csv"
// G1,G2,sample
// W1118,W55,W55_M
// W1118,W55,W55_V

DESIGN2  =   "${DF}/df_comparates.csv"
//Comparate_1,Comparate_2,compID
//W55_M,W55_V,W55_M_V

}


// process default configurations       
process {
    executor = 'slurm'
    clusterOptions = '-o /blue/mcintyre/share/BASE_mclab/galaxy/scripts/SLURM_LOGS/defMergeP-%A.out --job-name=defMergeP --account=mcintyre'
    memory = 6.GB
    cpus = 1
    time = '6h'
}

// process specific configurations
process {
    withName: 'mergePriors' {
    executor = 'slurm'
    clusterOptions = '-o /blue/mcintyre/share/BASE_mclab/galaxy/scripts/SLURM_LOGS/mergeP-%A.out --job-name=mergeP --account=mcintyre'
    memory = 6.GB
    cpus = 1
    time = '6h'
    }
}
